@font-face {
  font-family: 'lemon_mocktail';
  src: url(../../fonts/Lemon\ Mocktail\ .ttf );
}

// Variables
$font-lemon: 'lemon_mocktail';
$font-oswald: 'Oswald', sans-serif;
$background1: url(../multimedia/maderaclara.jpg);
$border-color: rgb(236, 119, 36) solid 2px;

body {
  background-image: $background1;
  background-size: cover;
  margin: 0;
}
.navbar {
  background-color: rgb(0, 0, 0);
  border: $border-color;
  font-family: $font-lemon;

  .nav-link {
    font-family: $font-oswald;
    font-size: 19px;
    right: 10px;

  }
}

@media (min-width: 990px) {
  .navbar-nav {
    position: relative;
    top: 12px;
    margin-left: 170px;
  }
}


@media(min-width:349px) {
  .h1-navbar {
    position: relative;
    left: 39px;
    font-size: 40px;
  }

  .navbar-brand {
    font-size: 28px;
    position: relative;
    left: 10px;
    top: 5px;
  }
}
@media (max-width: 406px) {
  .navbar-brand {
margin-right: 24px;
  }

}
@media(max-width:355px){
  .navbar-logo {
    display: flex;
    margin-left: 124px;
    margin-top: 20px;
  }
  .navbar-brand {
    margin-left: 45px;
      }
}
@media(max-width:348px) {
  .h1-navbar {
    position: relative;
    font-size: 30px;
    left: 10px;
    top: 20px;
    display: flex;
    justify-content: center;

  }
  .navbar-logo {
    display: flex;
    margin-top: 20px;
  }
  .navbar-brand {
    font-size: 20px;
    position: relative;
    bottom: 15px;
    left: 30px;
  }
  @media(max-width:340px){
    .navbar-brand {
      position: relative;
      left: 20px;
    }
  }
}
.navbar-logo {
  width: 80px;
  height: 80px;
  position: relative;
  left: 5px;
  top: -3px;
}

/* Main inicio */
// Variables
$color-gold: rgb(216, 196, 82);
$color-red: rgb(245, 12, 12);
$color-border: solid 3px rgb(252, 0, 0);
$border-black: black solid 3px;

@mixin titulos-inicio {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(216, 196, 82);
  text-shadow: 2px 3px $color-red;
  font-size: 35px;
  position: relative;
  top: 25px;
  left: 3px;
}

.img-fluid {
  border: $border-black;
  height: 415px;
}

@media (min-width: 870px) {
  .contenido-inicio {
    display: flex;
    justify-content: space-evenly;

    .promocion-dia {
      text-align: center;
      position: relative;
      top: 25px;
      left: 5px;
    }

    .nueva-cheepers {
      text-align: center;
      position: relative;
      top: -1px;
      right: 5px;
    }

    .nueva-burguer {
      @include titulos-inicio;
    }

    .promo-dia {
      @include titulos-inicio;
      top: 0px;
      left: 0px;
    }

    iframe {
      max-width: 100%;
      border: $color-border;
      margin-top: 28px;
      width: 390px;
      height: 413px;
    }
  }
}

@mixin titulos-inicio-moviles {
  font-family: sans-serif;
  font-size: 34px;
  font-weight: bold;
  color: rgb(255, 215, 0);
  text-shadow: 3px 3px 2px red;
  font-weight: 800
}

@media (max-width:870px) {
  .contenido-inicio {
    text-align: center;
    margin-top: 30px;
    flex-direction: column;
  }

  .nueva-cheepers {
    position: relative;
    top: -15px;
  }

  iframe {
    border: $color-border;
    width: 358px;
    height: 416px;

  }

  .img-fluid {
    width: 355px;
  }

  .promo-dia {
    @include titulos-inicio-moviles;
  }

  .nueva-burguer {
    @include titulos-inicio-moviles;
  }
}

@media(max-width:359px) {

  .nueva-cheepers {
    position: relative;
    top: -15px;
  }

  iframe {
    border: $color-border ;
    width: 315px;
    height: 416px;

  }

  .img-fluid {
    width: 315px;
  }

}

/* Sucursales */
@media (min-width:870px) {
  .sucursales-img {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
  }

  .cheepers-corrientes-img {
    height: 420px;
    width: 380px;
    position: relative;
    right: -12px;
    border: $border-black;
  }

  .cheepers-sarmiento-img {
    height: 420px;
    width: 390px;
    position: relative;
    left: 6px;
    border: $border-black;

  }

  .sucursales-title {
    @include titulos-inicio;
    top: 0px;
    left: 0px;
    margin-top: 40px;
  }
}

@media(max-width:870px) {
  .sucursales-img {
    flex-direction: column;

    margin-top: 25px;

  }

  .cheepers-sarmiento-img {
    height: 420px;
    width: 355px;
    border: $border-black;
    margin-top: 10px;
  }

  .cheepers-corrientes-img {
    height: 420px;
    width: 355px;
    border: $border-black;
  }

  .sucursales-title {
    @include titulos-inicio-moviles;
    margin-top: 50px;
    font-size: 35px;
  }
}


@media(max-width:359px) {
  .cheepers-sarmiento-img {
    height: 420px;
    width: 315px;
    border: $border-black;
    margin-top: 10px;
  }
  .cheepers-corrientes-img {
    height: 420px;
    width: 315px;
    border: $border-black;
  }

  .cheepers-corrientes p {

    display: inline-flex;
    position: relative;
    left: -18px;

  }

  .cheepers-corrientes i {
    color: $color-red;
    position: relative;
    left: -25px;
    font-size: 21px;
  }

  .whatsapp-sede {
    height: 28px;
    width: 28px;
    position: relative;
    top: -10px;
    left: -58px;
  }

  .cheepers-corrientes a {

    font-size: 20px;

    display: inline;
    position: relative;
    top: -8px;
    left: -52px;
  }


  .cheepers-sarmiento p {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    display: inline-flex;
    position: relative;
    left: -2px;

  }

  .cheepers-sarmiento i {
    color: $color-red;
    position: relative;
    left: -6px;
    font-size: 21px;
  }

  .cheepers-sarmiento a {

    font-size: 20px;

    display: inline;
    position: relative;
    top: -8px;
    left: -60px;
  }
}


.cheepers-sede {
  margin-top: 5px;
  font-size: 32px;
  font-family: $font-oswald;
}

.cheepers-peron {
  margin-top: 5px;
  font-size: 31px;
  font-family: $font-oswald;
  position: relative;
  left: 0px;
}

.cheepers-sede span,
.cheepers-peron span {
  color: $color-red;
}


.cheepers-corrientes p {
  font-size: 20px;
  font-family: $font-oswald;
  display: inline-flex;
  position: relative;
  right: 95px;

}

.cheepers-corrientes i {
  color: red;
  position: relative;
  right: 98px;
  font-size: 21px;
}

.whatsapp-sede {
  height: 28px;
  width: 28px;
  position: relative;
  top: -10px;
  right: 129px;
}

.cheepers-corrientes a {
  text-decoration: none;
  font-size: 20px;
  font-family: $font-oswald;
  color: black;
  display: inline;
  position: relative;
  top: -8px;
  right: 130px;

  &:hover {
    color: brown;
  }

}

.cheepers-sarmiento p {
  font-size: 20px;
  font-family: $font-oswald;
  display: inline-flex;
  position: relative;
  right: 75px;
}

.cheepers-sarmiento i {
  color: $color-red;
  position: relative;
  right: 78px;
  font-size: 21px;
}

.cheepers-sarmiento a {
  text-decoration: none;
  font-size: 20px;
  font-family: $font-oswald;
  color: black;
  display: inline;
  position: relative;
  top: -8px;
  right: 132px;

  &:hover {
    color: brown;
  }
}

/* footer */
footer {
  background-color: rgb(202, 34, 34);
  margin-top: 45px;
  border: $border-black;

}

footer a {
  font-size: 18px;
  text-decoration: none;
}

.redes {
  height: 30px;
  position: relative;
  bottom: 12px;
}
/* footer-fin */

/* Catalogo */
/* variables */
$header-cheepers: url(../multimedia/logotipo.jpg);
$fondo-blanco: url(../multimedia/Maderablanca.jpg);
$font-arial: Arial, Helvetica, sans-serif;

.header-catalogo {
  background-image: $header-cheepers;
  height: 9vw;
  width: 100%;
  border: $border-black;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media(max-width:480px) {
    & {
      height: 11vw;
    }
  }
}


.body-catalogo {
  background-image: $fondo-blanco;
  background-color: rgb(116, 114, 114);
  background-blend-mode: overlay; 
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

.catalogo h1 {
  font-family: $font-oswald;
  font-size: 45px;
  padding-left: 119px;
  margin-top: 10px;
  letter-spacing: 2px;
}


.catalogo h2 {
  padding-left: 53px;
  margin-top: -7px;
}


.hamburguesas h2 {
  left: -18px;
  top: 15px;
}

.siguiente-pagina {
  display: flex;
  justify-content: end;
}

@mixin navegacion{
  font-family: $font-oswald;
  font-size: 20px;
  margin-top: -46px;
  margin-right: 2px;
}
.ir-promo {
 @include navegacion();
}

.ir-promo-logo {
  text-decoration: none;
  margin-top: -41px;
}

.catalogo i {
  font-size: 19px;
  color: black;
}

.catalogo-titulos {
  display: block;
  text-align: start;
  position: relative;
  left: 0;
  margin-top: -15px;
}

.catalogo-titulos h2 {
  font-size: 26px;
  font-family: $font-arial;
  color: rgb(236, 171, 29);
  font-weight: 600;
  position: relative;
  right: 10px;
}

.catalogo-titulos h1 {
  font-size: 48px;
  font-family: $font-oswald;
}

.hamburguesas {
  font-family: $font-arial;
  font-size: 33px;
  display: flex;
  justify-content: center;
  position: relative;
  right: 22px;
  top: 30px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}


@media (max-width:430px) {
  .catalogo-titulos h2 {
    font-size: 21px;
    font-family: $font-arial;
  }

  .catalogo-titulos h1 {
    font-size: 36px;
    font-family: $font-oswald;
  }
  .burguers h2{
  font-size: 25px;
  }

}

@media (max-width:360px) {
  .catalogo-titulos h2 {
    font-size: 20px;
    font-family: $font-arial;
  }

  .catalogo-titulos h1 {
    font-size: 35px;
    font-family: $font-oswald;
    position: relative;
    right: 10px;
  }

}

@mixin botones {
  display: block;
  width: 200px;
  margin-top: 5px;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 650;
  border: solid black 3px;
  background-color: yellow;
}

@mixin hamburguesa-movil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width:768px) {
  .hamburguesas {
    position: relative;
    top: 85px;
    font-size: 29px;
    font-weight: 800;
  }

  .catalogo-titulos {
    display: block;
    text-align: center;
    margin-top: -20px;
  }

  .catalogo-titulos h1 {
    margin-right: 101px;
  }

  .catalogo-titulos h2 {
    margin-right: 20px;
  }

  .burguers {
    margin-top: -40px;
  }

  .texana-clasica {
    @include hamburguesa-movil;
    margin-top: -10px;
  }

  .barbacue-americana {
    @include hamburguesa-movil;
  }

  .bacon-cheddar {
    @include hamburguesa-movil;
  }

  .texana {
    width: 330px;
  }

  .clasica {
    width: 330px;
  }


  .clasica-infos {
    margin-bottom: 10px;
  }

  .barbacue {
    height: 300px;
    width: 330px;
    border: $color-border;
  }

  .americana {
    height: 300px;
    width: 330px;
    border: $color-border;
  }

  .barbacue-infos a,
  .americana-infos a,
  .bacon-infos a,
  .cheddar-infos a,
  .clasica-infos a,
  .texana-infos a {
    position: relative;
    left: 65px;
    @include botones;
  }

  .americana-infos {
    margin-top: 45px;
  }

  .bacon-cheep {
    height: 300px;
    width: 330px;
    border: $color-border;
  }

  .cheddar {
    height: 300px;
    width: 330px;
    border: $color-border;
  }

  .cheddar-infos {
    margin-top: 45px;
  }

  .texana {
    height: 300px;
    width: 330px;
    border: $color-border;
    margin-top: 70px;

  }

  .clasica {
    height: 300px;
    width: 330px;
    border: $color-border;
    margin-top: 21px;
  }

}

@media (min-width:768px) {
  .burguers {
    margin-top: 30px;
  }

  .texana {
    height: 300px;
    width: 360px;
    border: $color-border;
    margin-top: 22px;
  }

  .clasica {
    height: 300px;
    width: 360px;
    border: $color-border;
    margin-top: 21px;
  }

  .texana-infos a {
    display: block;
    position: relative;
    left: 80px;
  }

  .clasica-infos a {
    display: block;
    position: relative;
    left: 80px;
  }

  .barbacue {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 360px;
    border: $color-border;
    margin-top: 22px;

  }

  .americana {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 360px;
    border: $color-border;
    margin-top: 22px;

  }

  .barbacue-infos a {
    display: block;
    position: relative;
    left: 80px;
  }

  .americana-infos a {
    display: block;
    position: relative;
    left: 80px;
  }

  .bacon-cheep {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 363px;
    border: $color-border;
    margin-top: 22px;

  }

  .cheddar {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 363px;
    border: $color-border;
    margin-top: 22px;

  }

  .barbacue-infos a {
    display: block;
    position: relative;
    left: 80px;
  }

  .bacon-infos a {
    display: block;
    position: relative;
    left: 80px;
  }

  .cheddar-infos a {
    display: block;
    position: relative;
    left: 80px;
  }

}

.texana-clasica {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px
}

.barbacue-americana {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
}

.bacon-cheddar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
}

@media(min-width:750px) {

  .barbacue-infos a,
  .americana-infos a,
  .bacon-infos a,
  .cheddar-infos a,
  .clasica-infos a,
  .texana-infos a {
    position: relative;
    left: 80px;
    @include botones;
  }
}

@mixin precios {
  color: black;
  font-weight: 600;
  font-family: $font-arial;
  font-size: 22px;
  margin-top: 5px;
  position: relative;
}

@media (max-width:1050px) {
  .pizzas h2 {
    font-weight: 600;
    font-family: $font-arial;
    color: black;
    margin-left: 80px;
  }

  .para-acompañar h2 {
    font-weight: 600;
    font-family: $font-arial;
    color: chocolate;
    margin-left: -12px;
  }

  .fugazzeta {
    height: 290px;
    width: 360px;
    border: $color-border;
  }

  .fugazzeta-precio {
    margin-left: 90px;
    @include precios;
  }

  .papas {
    height: 290px;
    width: 360px;
    border: $color-border;
  }

  .papas-precio {
    margin-left: 35px;
    @include precios;
  }

  .especial {
    height: 300px;
    width: 360px;
    border: $color-border;
  }

  .especial-precio {
    margin-left: 100px;
    @include precios;
    color: rgb(247, 103, 8);
  }

  .muzza {
    height: 290px;
    width: 360px;
    border: $color-border;
  }

  .muzza-precio {
    margin-left: 105px;
    @include precios;
  }

  .pizzas img {
    margin-left: 0px;
  }

  .papa-gratinada {
    height: 300px;
    width: 360px;
    border: $color-border;
  }

  .gratinada-precio {
    margin-left: 150px;
    @include precios;
    color: chocolate;

  }

  .aros {
    height: 290px;
    width: 360px;

    border: $color-border;

  }

  .aros-precio {
    margin-left: 150px;
    @include precios;
  }

  .pizzas-para-acompañar {
    display: flex;
    justify-content: space-around
  }

  .wsp {
    margin-top: 30px;
    height: 35px;
    width: 35x;
    margin-left: 0px;
  }

  .contactos a {
    text-decoration: none;
    color: black;
  }

  .wsp-boton {
    position: relative;
    top: 16px;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    font-family: $font-arial;
  }

  .pedidosya {
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 30px;
    margin-left: 2px;
  }

  .pedidosya-boton {
    position: relative;
    left: 40px;
    top: -35px;
    display: inline;
    font-size: 16px;
    font-weight: 600;
    font-family: $font-arial;
    color: coral;
  }

  .facebook-catalogo {
    margin-top: 15px;
    height: 30px;
    width: 35px;
    margin-left: -87px;
  }

  .facebook-boton {
    position: relative;
    top: 10px;
    margin-left: 3px;
    display: inline;
    font-size: 16px;
    font-weight: 600;
    font-family: $font-arial;
    color: $color-red;
  }

  .footer-catalogo {
    margin-top: 20px;
  }
}


@media (min-width:1051px) {
  .pizzas h2 {
    font-weight: 600;
    font-family: $font-arial;
    color: rgb(0, 0, 0);
    position: relative;
    left: 170px;
  }

  .para-acompañar h2 {
    font-weight: 600;
    font-family: $font-arial;
    color: chocolate;
    position: relative;
    right: 20px;
  }

  .fugazzeta {
    height: 290px;
    width: 360px;
    margin-left: 50px;
    border: $color-border;
  }

  .papas {
    height: 290px;
    width: 360px;
    margin-right: 95px;
    border: $color-border;

  }

  .fugazzeta-precio {
    @include precios;
    left: 195px;
  }

  .papas-precio {
    margin-left: 45px;
    @include precios;
  }

  .especial {
    height: 300px;
    width: 360px;
    margin-left: 50px;
    border: $color-border;
  }

  .especial-precio {
    margin-left: 200px;
    @include precios;
    color: rgb(247, 103, 8);
  }

  .muzza {
    height: 290px;
    width: 360px;
    margin-left: 50px;
    border: $color-border;

  }

  .muzza-precio {
    margin-left: 210px;
    @include precios;
  }

  .pizzas img {
    margin-left: 100px;
  }

  .papa-gratinada {
    height: 300px;
    width: 360px;
    border: $color-border;
  }

  .gratinada-precio {
    margin-left: 150px;
    @include precios;
    color: chocolate;
  }

  .aros {
    height: 290px;
    width: 360px;
    border: $color-border;
  }

  .aros-precio {
    margin-left: 150px;
    @include precios;
  }

  .pizzas-para-acompañar {
    display: flex;
    justify-content: space-around
  }

  .wsp {
    margin-top: 70px;
    height: 50px;
    width: 50px;
    margin-left: 10px;
  }

  .contactos a {
    text-decoration: none;
    color: black;
  }

  .wsp-boton {
    position: relative;
    top: 37px;
    display: inline-flex;
    font-size: 19px;
    font-weight: 600;
    font-family: $font-arial;
  }

  .pedidosya {
    display: block;
    margin-top: 10px;
    height: 35px;
    width: 40px;
    margin-left: 14px;
  }

  .pedidosya-boton {
    position: relative;
    left: 65px;
    top: -30px;
    display: inline;
    font-size: 19px;
    font-weight: 600;
    font-family: $font-arial;
    color: coral;
  }

  .facebook-catalogo {
    display: block;
    margin-top: -10px;
    height: 40px;
    width: 40px;
    margin-left: 12px;

  }

  .facebook-boton {
    position: relative;
    left: 65px;
    top: -33px;
    display: inline;
    font-size: 19px;
    font-weight: 600;
    font-family: $font-arial;
    color: rgb(240, 47, 47)
  }

  .footer-catalogo {
    margin-top: -5px;
  }
}

@media(max-width:768px) {
  .pizzas-para-acompañar {
    display: block;
    text-align: center;
  }

  .pizzas h2 {
    font-weight: 600;
    font-family: $font-arial;
    color: black;
    position: relative;
    right: 60px;
    font-size: 34px;
    margin-top: 50px;
  }

  .para-acompañar h2 {
    font-weight: 650;
    font-family: $font-arial;
    color:chocolate;
    margin-right: 40px;
    margin-top: 90px;
    font-size: 31px;
  }

  .fugazzeta {
    height: 290px;
    width: 330px;
    border: $color-border;
    margin-top: 10px;
  }

  .papas {
    height: 290px;
    width: 330px;
    margin-right: 95px;
    border: $color-border;

    margin-top: 10px;
  }

  .fugazzeta-precio {
    margin-left: 10px;
    @include precios;
  }

  .papas-precio {
    margin-left: 3px;
    @include precios;
  }

  .especial {
    height: 300px;
    width: 330px;
    border: $color-border;
  }

  .especial-precio {
    margin-left: 10px;
    @include precios;
    color: rgb(247, 103, 8);
  }

  .muzza {
    height: 290px;
    width: 330px;
    border: $color-border;
  }

  .muzza-precio {
    margin-left: 15px;
    @include precios;
  }

  .papa-gratinada {
    height: 300px;
    width: 330px;
    border: $color-border;
  }

  .gratinada-precio {
    margin-left: 10px;
    @include precios;
    color: chocolate;

  }

  .aros {
    height: 290px;
    width: 330px;
    border: $color-border;}

  .aros-precio {
    margin-left: 10px;
    color: black;
    font-weight: 600;
    font-family: $font-arial;
    font-size: 22px;
    margin-top: 5px;
  }

  .pizzas-para-acompañar {
    display: block;
    text-align: center;
  }

  .fugazzeta,
  .papas,
  .especial,
  .muzza,
  .papa-gratinada,
  .aros {
    margin: 0 auto;
    width: 330px;
    margin-top: 10px;
  }

  .pizzas img {
    display: block;
    margin: 0 auto;
  }

  .footer-catalogo {
    margin-top: 20px;
  }
}

.contactos a {
  text-decoration: none;
  color: black;
}

/* catalogo-fin */

/* promos */
.header-promos {
@extend .header-catalogo;
}
.body-promos {
 @extend .body-catalogo 
}

.volver-inicio {
  font-family: $font-oswald;
  font-size: 20px;
  margin-top: -31px;
  margin-left: 19px;
}

.ir-sobrenosotros {
  font-family: $font-oswald;
  margin-top: -47px;
  margin-right: 2px;
}

.ir-sobrenosotros-logo {
  text-decoration: none;
  margin-top: -41px;
}

.promos i {
  color: black;
  font-size: 19px;
}
.promos p {
  font-size: 20px;
}
.volver-logo{
  position: relative;
  top: -3px;
    }

.promos-titulos h1 {
  margin-left: 90px;
  font-family: $font-oswald;
  font-size: 45px;
}

.promos-titulos h2 {
  font-family: $font-arial;
  font-size: 26px;
  margin-left: 28px;
  font-weight: 600;
  color: chocolate;
}

.promociones h2 {
  padding-left: 72px;
  margin-top: -7px;
  font-family: $font-arial;
}


@media(max-width:768px) {
  .promos-titulos {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    text-align: center;
  }
  .promos-titulos h1 {
    margin-left: 50px;
  }
}

@media(max-width:450px) {
  .promos-titulos h2 {
    font-size: 20px;
    margin-left: 32px;
  }

  .promos-titulos h1 {
    font-size: 35px;
    margin-right: 10px;
  }
}

.promociones {
  display: flex;
  justify-content: space-around;
  margin-top: 85px;
}

@mixin promociones-titulos{
  font-size: 28px;
  font-family: $font-arial;
  font-weight: 600;
  position: relative;
}

.promo-burguers h2 {
@include promociones-titulos;
  right: 6px;
}
.promo-especiales h2 {
  @include promociones-titulos;
  right: 15px;
}

.texana-promo {
  height: 300px;
  width: 360px;
  border: $color-border;
  margin-top: 15px;
  &:hover{
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;  
  }
}
.nuggets-promo {
@extend .texana-promo;
  position: relative;
  left: 30px;
}
.texana-promo2{
  @extend .texana-promo;
  display: block;
  } 
  .kids-promo{
    @extend .nuggets-promo;
    display: block;
  }
  .big-pollo{
    @extend .texana-promo;
    display: block;
  }
  .combo-pizzeta{
    @extend .nuggets-promo;
    display: block;
  }
  .combo-amigos{
    @extend .texana-promo;
    display: block;
  }
  .combo-socio{
    @extend .texana-promo;
    position: relative;
    left: 30px;
  }

@media (max-width:768px) {
  .promociones {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    text-align: center;
  }

  @mixin promos-moviles{
    height: 280px;
    width: 330px;
    position: relative;
    margin: 0 auto;
  }
  .nuggets-promo {
  @include promos-moviles;
    left: 0px;
  }

  .texana-promo {
    @include promos-moviles;
    top: -18px;
  }
  .texana-promo2{
    @include promos-moviles;
top: 12px;
  }
  .big-pollo{
    @include promos-moviles;
top: 40px;
  }
  .combo-amigos{
    @include promos-moviles;
    top: 70px;
    position: relative;
    left: 0px;
  }
  .combo-socio{
    @include promos-moviles;
    top: 75px;
    left: 0px;
  }
  .combo-pizzeta{
    @include promos-moviles;
    top: 45px;
    left: 0px;
  }
.kids-promo{
  @include promos-moviles;
  top: 12px;
  left: 0px;
}
  .promo-especiales h2 {
    font-size: 24px;
    font-weight: 750;
    position: relative;
    right: 33px;
    bottom: 15px;
    margin-top: 150px;
  }

  .promo-burguers h2 {
    font-size: 24px;
    font-weight: 750;
    position: relative;
    right: 25px;
    top: -35px;
  }
.contactos-promo span{
position: relative;
top: 100px;

}
.pedidosya-boton-promo{
  position: relative;
    left: 40px;
    top: -28px;
    display: inline;
    font-size: 16px;
    font-weight: 600;
    font-family: $font-arial;
    color: coral;
}
.footer-promo{
  margin-top: 110px;
}
}
.contactos-promo a{
  text-decoration: none;
  color: black;
}
.contactos-promo p{
  font-size: 18px;
  margin-left: -2px;
}
@media(min-width:769px){
.pedidosya-boton-promo{
  position: relative;
    left: 65px;
    top: -30px;
    display: inline;
    font-size: 16px;
    font-weight: 600;
    font-family: $font-arial;
    color: coral;
}
@media (max-width:1050px){
  .pedidosya-boton-promo{
    position: relative;
      left: 40px;
      top: -28px;
      font-size: 20px;
}
}
.footer-promo{
  margin-top: 20px;
}
}
/* promo-fin */

/* Sobre nosotros */
.header-sobrenosotros {
@extend .header-catalogo;
}

.body-sobrenosotros {
  @extend .body-catalogo 
}

.sobrenosotros-volver i {
  color: black;
  font-size: 19px;
}

.sobrenosotros-volver p {
  font-size: 20px;
}

.ir-contacto {
  font-family: $font-oswald;
  font-size: 20px;
  margin-top: -46px;
  margin-right: 2px;
}

.ir-contacto-logo {
  margin-top: -41px;
}

.sobrenosotros-titulo {
  display: flex;
  flex-direction: column;
}

.sobrenosotros-titulo h1 {
  margin-left: 90px;
  font-family: $font-oswald;
  font-size: 45px;
}

.sobrenosotros-titulo h2 {
  margin-left: 30px;
  font-size: 25px;
  font-family: $font-arial;
  font-weight: 600;
  color: chocolate;
}

  .logo-cheepers {
    display: flex;
    margin-left: auto;
    margin-top: -125px;
    height: 140px;
    width: 150px;
  }
  
  .cheepers-historia p {
    padding-left: 20px;
    font-size: 19px;
    padding-right: 20px;
    font-family: $font-arial;
    font-weight: 550;
    letter-spacing: 1px;
    margin-top: 5px;
    line-height: 1.6;
    text-align: justify;
  }
  
.cheepers-nombre h2 {
  margin-left: 20px;
  font-size: 28px;
  color: chocolate;
}
.contacto-sobrenosotros h2{
  font-size: 22px;
  color: $color-red;
  margin-left: 20px;
  margin-top:48px;
  font-family: $font-arial;
  font-weight: 600
}
.contacto-sobrenosotros img{
  position: relative;
  top: -5px;
}
.contacto-sobrenosotros p{
display:flex inline;
font-family: $font-arial;
font-size: 19px;
font-weight: 600;
position: relative;
top: 9px;
}
.footer-sobrenosotros{
  margin-top: 25px;
}
 @media(max-width:999px){
  .contacto-sobrenosotros img{
    position: relative;
  right: 2px;
  }
 }
@media  (max-width:769px){
  .cheepers-historia p{
    font-size: 17px;
  }
  .logo-cheepers {
    height: 100px;
    width: 100px;
  position: relative;
  top: 5px;
}
.contacto-sobrenosotros img{
  position: relative;
left: -1px;
}
}
@media (max-width:590px){
  .cheepers-historia p{
    font-size: 15px;
    text-align: justify;
    letter-spacing: 0.1px;
    margin-top: -10px;
  }
  .logo-cheepers{
    display: none;
  }
  .sobrenosotros-titulo h1 {
text-align: center;
font-size:25px ;
margin-right:85px;
  }
  .sobrenosotros-titulo h2 {
    margin-left: 30px;
    font-size: 19px;
   text-align: center;
   margin-right: 29px;
  }
  
  .cheepers-nombre h2 {
   margin-left: 18px;
    font-size: 22px;
position: relative;
top: -10px;
margin-top:30px;
  }
  .contacto-sobrenosotros h2{
 font-size: 17px;
 margin-right: 22px;
 margin-top: 25px;
 .contacto-sobrenosotros img{
  width: 30px;
  height: 20px;
  position: relative;
  top: -10px;
 }
  }
  .contacto-sobrenosotros p{
    font-size: 15px;
    position: relative;
    top: 4px;
    }
    .contacto-sobrenosotros img{
      position: relative;
    left: -2px;
    top: -7px;
    width: 30px;
    height: 25px;
    }
}
/* sobrenosotros-fin */

/* contacto */
.header-contacto {
  @extend .header-catalogo;
  }

.body-contacto {
  @extend .body-catalogo 
}

.contacto-volver i {
  color: black;
  font-size: 20px;
}

.contacto-volver p {
  font-size: 20px;
}
.volver-logo{
position: relative;
top: -1px;
}
.ir-inicio{
  font-family: $font-oswald;
  font-size: 20px;
  margin-top: -46px;
  margin-right: 2px;
}

.ir-inicio-logo {
  margin-top: -41px;
}

.contacto-titulos h1 {
  font-family: $font-oswald;
  margin-left: 106px;
  font-size: 45px;
}

.contacto-titulos h2 {
  font-size: 25px;
  margin-left: 42px;
  color: chocolate;
  font-weight: 600;
  font-family: $font-arial;
}

.contacto-parrafo {
  margin-left: 15px;
  margin-top: 28px;
  font-size: 22px;
  font-family: $font-arial;
  font-weight: 550;
  letter-spacing: 1.2px;
}

.contacto-medios {
  margin-top: 40px;
 @extend .contacto-parrafo;
 color: chocolate;
  letter-spacing: 1px;
}
.contacto-medios a{
  text-decoration: none;
  color:black
}

.gmail {
  height: 25px;
  width: 35px;
  margin-left: 20px;
  margin-top: 20px;
}

.gmail-p {
  font-size: 17px;
  display: inline;
  font-family: $font-arial;
  color: black;
  position: relative;
  top: 10px;
}

.instagram {
  height: 35px;
  width: 40px;
  display: block;
  margin-top: 20px;
  margin-left: 16px;
}

.instagram-p {
  font-size: 17px;
  display: inline;
  font-family: $font-arial;
  color: black;
  position: relative;
  top: -35px;
  margin-left: 60px;
}

.facebook {
  height: 35px;
  width: 40px;
  display: block;
  margin-top: -15px;
  margin-left: 16px
}

.facebook-p {
  font-size: 17px;
  display: inline;
  font-family: $font-arial;
  color: black;
  position: relative;
  top: -35px;
  margin-left: 60px;
}

.formularios {
  position: relative;
  top: -225px;
  display: flex;
 margin-left: 70%;
  padding: 15px;
  border-radius: 4px;
  max-width: 350px;
  background-color: rgb(219, 219, 219);
  border: solid black 1px;
margin-top:  -100px;
  .form-group label {
    display: block;
    font-size: 21px;
    margin-bottom: 5px;
    font-family: $font-oswald;
  }

  .form-group input {
    width:100%;
    padding: 8px;
    border: $border-color;
    border-radius: 4px;
    font-size: 18px;
  font-family: $font-arial;
  }
  
  input[type="submit"] {
    display: block;
    padding: 8px 12px;
    margin-top: 10px;
    background-color: $color-red;
    color: white;
    border:solid black 1px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
  }
  .mensaje{
  display: block;
  border: $border-color;
  }
  textarea{
    font-size: 17px;
    width: 320px;
    font-family: $font-arial;
  }
}

@media(min-width:1200px){
  .mensaje{
    max-height: 120px;
    }
    .footer-contacto{
      margin-top: -130px;
      }
}

@media (max-width:1030px){
  .formularios{
    max-height: 320px;}
    .mensaje{
      height: 50px;
      }
    
  }

@media (max-width:1200px){
.formularios{
  position: relative;
  right: 40px;
  max-width: 320px;
  .form-group input {
    width:100%;
  max-width: 280px;

  }
  textarea{
    width: 280px;
  }
}
.footer-contacto{
  margin-top: -120px;
  }

}
@media(max-width:1000px){
  .contacto-titulos h1 {
    font-family: $font-oswald;
 text-align: center;
 margin-right: 80px;
  }
  
  .contacto-titulos h2 {
   text-align: center;
   margin-right: 15px;
  }
  
  .contacto-parrafo {
  text-align: center;
    letter-spacing: 1.5px;
  }
  

  .contacto-medios a{
    text-decoration: none;
    color:black
  }
  
  .flexbox{
 display: block;
 justify-content: space-around;
  }
  .contacto-medios {
    margin-top: 20px;

   color: chocolate;
    letter-spacing: 2px;
  }
  .footer-contacto{
    margin-top: -20px;
    }
  .instagram{
  margin: 0 auto;
  position:relative;
  right: 230px;
  top: 25px;
  }
  .instagram-p{
    position: relative;
    top: -10px;
    right: 180px;
  }
  .facebook{
    margin: 0 auto;
    position:relative;
    right: 232px;
    top: 15px
  }
  .facebook-p{
    position: relative;
    top: -20px;
    right: 183px
  }
  .gmail{
    position: relative;
right: 115px;
  }
  .gmail-p{
    right: 112px;
  }
    .formularios {
      position: relative;
      top: -90px;
      right: 95px;
   background-color: rgba(162, 162, 165, 0);
  border: none;
      .form-group label {
        display: block;
        font-size: 18px;
        max-width: 210px;
        height: 70px;
      }
      .form-group input {
        width:100%;
      }
      
      input[type="submit"] {
margin-top: 25px;
        font-size: 13px;
      }
  
      textarea{
        font-size: 17px;
        width: 210px;
        height: 65px;
        font-family: $font-arial;
      }
    }
  
}
@media (max-width:650px){
  .contacto-titulos h1{
    font-size: 40px;
    margin-left: 85px;
  }
  .contacto-titulos h2 {
    margin-right: 41px;
    font-size: 22px;
   }
   .contacto-parrafo {
    font-size: 19px;
    margin-right: 16px;
    text-align: center;
      letter-spacing: 1.5px;
    }
    .instagram{
      position:relative;
      right: 150px;
      top: 22px;
      }
      .instagram-p{
        position: relative;
        top: -12;
        right: 116px;
        font-size: 14px;
      }
      .facebook{

        position:relative;
        right:151px;
        top: 10px
      }
      .facebook-p{
        position: relative;
        top: -23px;
        right:118px;
        font-size: 14px;
      }
      .gmail{
        position: relative;
left: -61px;
top: 3px;
      }
      .gmail-p{
        right: 62px;
        font-size: 14px;
        top: 14px;

      }
      .formularios {
        position:relative;
        top: 95px;
        justify-content: center;
        right:  175px;
    height:150px;
        .form-group label {
          max-width: 180px;
          height: 70px;
        }
        .form-group input {
          width:100%;
        }
        
        input[type="submit"] {
          font-size: 13px;
        }
    
        textarea{
          font-size: 17px;
          width: 180px;
          height: 65px;
        }
      }
      .footer-contacto{
        margin-top: 290px;
        }
}
@media(max-width:336px){
  .contacto-titulos h1{
  position: relative;
  right: 8px;
  }
  .contacto-parrafo {
    margin-left: 10px;
    text-align: center;
    }
    .instagram{
      right: 130px;
      }
      .instagram-p{
        right: 96px;
      }
      .facebook{

        position:relative;
        right:131px;
        top: 10px
      }
      .facebook-p{
        right:97px;
      }
      .gmail{
left: -40px;
      }
      .gmail-p{
        right: 41px;
        font-size: 14px;
        top: 14px;

      }
}



