@font-face {
  font-family: 'lemon_mocktail';
  src: url(/Fonts/Lemon\ Mocktail\ .ttf);
}

body {
  background-image: url(/assets/multimedia/maderaclara.jpg);
  background-size: cover;
  margin: 0;
}

.nav-link {
  font-family: 'Oswald', sans-serif;
  font-size: 19px;
  right: 10px;

}

.navbar {
  background-color: rgb(0, 0, 0);
  border: solid rgb(236, 119, 36) 2px;
  font-family: 'lemon_mocktail';

}

@media (min-width: 990px) {
  .navbar-nav {
    position: relative;
    top: 12px;
    margin-left: 170px;
  }
}

@media(max-width:348px) {
  .navbar-logo {
    display: flex;
    margin-left: 110px;
  }

  .h1-navbar {
    position: relative;
    font-size: 30px;
    left: 10px;
    top: 20px;
    display: flex;
    justify-content: center;
  }

  .navbar-brand {
    font-size: 20px;
    position: relative;
    bottom: 25px;
    left: 60px;
  }
}

@media(min-width:348px) {
  .h1-navbar {
    position: relative;
    left: 39px;
    font-size: 40px;
  }

  .navbar-brand {
    font-size: 28px;
    position: relative;
    left: 10px;
    top: 5px;
  }
}

.navbar-logo {
  width: 80px;
  height: 80px;
  position: relative;
  left: 5px;
  top: -3px;
}


/* Main inicio */
.img-fluid {

  border: solid black 2px;
  height: 415px;
}

@media (min-width: 870px) {
  .contenido-inicio {
    display: flex;
    justify-content: space-evenly;
  }

  .promocion-dia {
    text-align: center;
    position: relative;
    top: 25px;
    left: 5px;
  }

  .nueva-cheepers {
    text-align: center;
    position: relative;
    top: -1px;
    right: 5px;
  }

  .promo-dia,
  .nueva-burguer {
    font-size: 34px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(216, 196, 82);
    text-shadow: 2px 3px rgb(241, 1, 1);

  }

  .nueva-burguer {
    position: relative;
    top: 25px;
    left: 3px;
  }

  iframe {
    max-width: 100%;
    border: solid rgb(252, 0, 0) 3px;
    margin-top: 28px;

    width: 390px;
    height: 413px;
  }
}

@media (max-width:870px) {
  .contenido-inicio {
    text-align: center;
    margin-top: 30px;
    flex-direction: column;
  }

  .nueva-cheepers {
    position: relative;
    top: -15px;
  }

  iframe {
    border: solid rgb(252, 0, 0) 3px;
    width: 358px;
    height: 416px;

  }

  .img-fluid {
    width: 355px;
  }
}

@media(max-width:359px) {

  .nueva-cheepers {
    position: relative;
    top: -15px;
  }

  iframe {
    border: solid rgb(252, 0, 0) 3px;
    width: 315px;
    height: 416px;

  }

  .img-fluid {
    width: 315px;
  }

}

.promo-dia {
  position: relative;
  top: -4px;

  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(216, 196, 82);
  text-shadow: 2px 3px rgb(241, 1, 1);
  font-size: 35px;
}

.nueva-burguer {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(216, 196, 82);
  text-shadow: 2px 3px rgb(241, 1, 1);
  font-size: 35px;

}

/* Sucursales */

.sucursales-title {
  color: rgb(216, 196, 82);
  text-shadow: 2px 3px rgb(241, 1, 1);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 36px;
  margin-top: 30px;
}

@media (min-width:870px) {
  .sucursales-img {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
  }

  .cheepers-corrientes-img {
    height: 420px;
    width: 380px;
    position: relative;
    right: -12px;
    border: solid black 3px;
  }

  .cheepers-sarmiento-img {
    height: 420px;
    width: 390px;
    position: relative;
    left: 6px;
    border: solid black 3px;

  }
}

@media(max-width:870px) {
  .sucursales-img {
    flex-direction: column;

    margin-top: 25px;

  }

  .cheepers-sarmiento-img {
    height: 420px;
    width: 355px;
    border: solid black 3px;
    margin-top: 10px;
  }

  .cheepers-corrientes-img {
    height: 420px;
    width: 355px;
    border: solid black 3px;
  }

}

@media(max-width:359px) {

  .cheepers-sarmiento-img {
    height: 420px;
    width: 315px;
    border: solid black 3px;
    margin-top: 10px;
  }

  .cheepers-corrientes-img {
    height: 420px;
    width: 315px;
    border: solid black 3px;
  }

  .cheepers-corrientes p {

    display: inline-flex;
    position: relative;
    left: -18px;

  }

  .cheepers-corrientes i {
    color: red;
    position: relative;
    left: -25px;
    font-size: 21px;
  }

  .whatsapp-sede {
    height: 28px;
    width: 28px;
    position: relative;
    top: -10px;
    left: -58px;
  }

  .cheepers-corrientes a {

    font-size: 20px;

    display: inline;
    position: relative;
    top: -8px;
    left: -52px;
  }


  .cheepers-sarmiento p {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    display: inline-flex;
    position: relative;
    left: -2px;

  }

  .cheepers-sarmiento i {
    color: red;
    position: relative;
    left: -6px;
    font-size: 21px;
  }

  .cheepers-sarmiento a {

    font-size: 20px;

    display: inline;
    position: relative;
    top: -8px;
    left: -60px;
  }
}


.cheepers-sede {
  margin-top: 5px;
  font-size: 32px;
  font-family: 'Oswald', sans-serif;

}

.cheepers-peron {
  margin-top: 5px;
  font-size: 31px;
  font-family: 'Oswald', sans-serif;
  position: relative;
  left: 0px;
}

.cheepers-sede span {
  color: red;
}

.cheepers-peron span {
  color: red
}

.cheepers-corrientes p {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  display: inline-flex;
  position: relative;
  right: 95px;

}

.cheepers-corrientes i {
  color: red;
  position: relative;
  right: 98px;
  font-size: 21px;
}

.whatsapp-sede {
  height: 28px;
  width: 28px;
  position: relative;
  top: -10px;
  right: 129px;
}

.cheepers-corrientes a {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  color: black;
  display: inline;
  position: relative;
  top: -8px;
  right: 130px;
}

.cheepers-corrientes a:hover {
  color: brown;
}


.cheepers-sarmiento p {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  display: inline-flex;
  position: relative;
  right: 75px;

}

.cheepers-sarmiento i {
  color: red;
  position: relative;
  right: 78px;
  font-size: 21px;
}

.cheepers-sarmiento a {
  text-decoration: none;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  color: black;
  display: inline;
  position: relative;
  top: -8px;
  right: 132px;
}

.cheepers-sarmiento a:hover {
  color: brown;
}


.header-catalogo {
  height: 115px;

  background-image: url(/assets/Multimedia/logotipo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: solid black 5px
}

.body-catalogo {
  background-image: url(/assets/Multimedia/maderagriss.jpg);
  width: auto;
  height: auto;
}

.catalogo h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
  padding-left: 120px;
  margin-top: 10px;
  letter-spacing: 2px;
}

.volver-inicio {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  padding-left: 35px;
  margin-top: -30px;
}

.catalogo i {
  font-size: 28px;
  color: black;
}

.catalogo h2 {
  padding-left: 53px;
  margin-top: -7px;
  font-family: Arial, Helvetica, sans-serif;
}


.hamburguesas h2 {
  font-family: "Kanit", sans-serif;
  font-size: 32px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  position: relative;
  left: -18px;
  top: 15px;

}

.hamburguesas-catalogo {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}

.texana {
  height: 300px;
  width: 360px;
  border: solid rgb(255, 0, 0) 3px;
  margin-top: 62px;

}

.clasica {
  height: 300px;
  width: 360px;
  border: solid rgb(255, 0, 0) 3px;
  margin-top: 62px;
}

.texana-info a {
  position: relative;
  top: 30px;
  left: -280px;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 650;
  border: solid black 3px;
  background-color: yellow;
}






/* footer */
footer {
  background-color: rgb(202, 34, 34);
  margin-top: 45px;
  border: solid rgb(0, 0, 0) 3px;

}

footer a {
  font-size: 18px;
  text-decoration: none;
}

.redes {

  height: 30px;
  position: relative;
  bottom: 12px;
}
/* footer-fin */


/* Catalogo */

.header-catalogo {
  height: 10vw;
  background-image: url(/assets/Multimedia/logotipo.jpg);
  height: 10vw;
  width: 100%;
  border: solid 3px black;
}

@media(max-width:480px) {
  .header-catalogo {
    height: 12vw;
  }
}

.body-catalogo {
  background-image: url(/assets/multimedia/Maderablanca.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}


.volver-inicio {
  font-family: 'Oswald', sans-serif;
  font-size: 22px;
  padding-left: 25px;
  margin-top: -30px;
}

.catalogo i {
  font-size: 23px;
  color: black;
}

.catalogo-titulos {
  display: block;
  text-align: start;
  position: relative;
  left: 0;
  margin-top: -15px;
}

.catalogo-titulos h2 {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(236, 171, 29);
  font-weight: 600;
  position: relative;
  right: 10px;
}

.catalogo-titulos h1 {
  font-size: 48px;
  font-family: 'Oswald', sans-serif;

}

.hamburguesas {
  font-family: sans-serif;
  font-size: 30px;
  display: flex;
  justify-content: center;
  position: relative;
  right: 23px;
  top: 25px;
  font-weight: 600;
  color: rgb(0, 0, 0);

}

@media(max-width:768px) {
  .hamburguesas {
    position: relative;
    top: 75px;
    font-size: 24px;
    font-weight: 800;
  }

  .catalogo-titulos {
    display: block;
    text-align: center;
    margin-top: -20px;
  }

  .catalogo-titulos h1 {
    margin-right: 102px;

  }

  .catalogo-titulos h2 {
    margin-right: 20px;
  }
}


@media (max-width:430px) {
  .catalogo-titulos h2 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;

  }

  .catalogo-titulos h1 {
    font-size: 32px;
    font-family: 'Oswald', sans-serif;

  }

}

@media (max-width:360px) {
  .catalogo-titulos h2 {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;

  }

  .catalogo-titulos h1 {
    font-size: 29px;
    font-family: 'Oswald', sans-serif;
    position: relative;
    right: 3px;
  }

}







@media (max-width:768px) {
  .burguers {
    margin-top: -40px;

  }


  .texana-clasica {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
  }

  .barbacue-americana {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }

  .texana {

    width: 330px;
  }

  .clasica {
    width: 330px;
  }

  .texana-infos a {
    position: relative;
    left: 70px;
  }

  .clasica-infos a {
    position: relative;
    left: 70px;
  }

  .clasica-infos {
    margin-bottom: 10px;
  }

  .barbacue {

    width: 330px;
    border: solid rgb(255, 0, 0) 3px;

  }

  .americana {
    width: 330px;
    border: solid rgb(255, 0, 0) 3px;

  }

  .barbacue-infos a {
    position: relative;
    left: 70px;
  }

  .americana-infos a {
    position: relative;
    left: 70px;

  }

  .americana-infos {
    margin-top: 45px;
  }
}

@media (min-width:768px) {
  .burguers {
    margin-top: 30px;
  }

  .texana {
    height: 300px;
    width: 360px;
    border: solid rgb(255, 0, 0) 3px;
    margin-top: 22px;

  }

  .clasica {
    height: 300px;
    width: 360px;
    border: solid rgb(255, 0, 0) 3px;
    margin-top: 21px;
  }

  .texana-infos a {
    display: block;
    position: relative;
    left: 80px;
  }

  .clasica-infos a {
    display: block;
    position: relative;
    left: 80px;
  }

  .barbacue {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 360px;
    border: solid rgb(255, 0, 0) 3px;
    margin-top: 22px;

  }

  .americana {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 360px;
    border: solid rgb(255, 0, 0) 3px;
    margin-top: 22px;

  }

  .barbacue-infos a {
    display: block;
    position: relative;
    left: 80px;
  }

  .americana-infos a {
    display: block;
    position: relative;
    left: 80px;
  }
}




.texana-clasica {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px
}




.texana-infos a {
  display: block;

  width: 200px;
  margin-top: 5px;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 650;
  border: solid black 3px;
  background-color: yellow;
}

.clasica-infos a {
  display: block;

  width: 200px;
  margin-top: 5px;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 650;
  border: solid black 3px;
  background-color: yellow;
}

.barbacue-americana {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
}


.barbacue-infos a {
  display: block;

  width: 200px;
  margin-top: 5px;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 650;
  border: solid black 3px;
  background-color: yellow;
}

.americana-infos a {
  display: block;

  width: 200px;
  margin-top: 5px;
  text-decoration: none;
  font-family: "Kanit", sans-serif;
  font-size: 18px;
  color: black;
  font-weight: 650;
  border: solid black 3px;
  background-color: yellow;
}
/* catalogo-fin */

/* promos */
.header-promos {
  height: 8vw;
  background-image: url(/assets/Multimedia/logotipo.jpg);
  background-size: cover;

  background-repeat: no-repeat;

  width: 100%;
  border: solid 3px black;
}

@media(max-width:520px) {

  .header-promos {
    height: 9vw;
  }
}

.body-promos {
  background-image: url(/assets/multimedia/Maderablanca.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

.promos a {
  text-decoration: none;
}

.promos i {
  color: black;
  font-size: 22px;
}

.promos p {
  font-size: 22px;
}



.promos-titulos h1 {

  margin-left: 90px;
  font-family: 'Oswald', sans-serif;
  font-size: 45px;
}

.promos-titulos h2 {
  font-family: sans-serif;
  font-size: 26px;
  margin-left: 28px;
font-weight: 600;
color: chocolate;
}
.promociones h2 {
  padding-left: 72px;
    margin-top: -7px;
    font-family: Arial, Helvetica, sans-serif;
  
  }
  
  
@media(max-width:768px) {
  .promos-titulos {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    text-align: center;
  }

  .promos-titulos h1 {
    margin-left: 40px;

  }

}

@media(max-width:450px) {
  .promos-titulos h2 {
    font-size: 20px;
 
  }

  .promos-titulos h1 {
    font-size: 35px;

  }

}

.promociones {
  display: flex;
  justify-content: space-around;
  margin-top: 90px;
}


.promo-burguers h2 {
  font-size: 28px;
  font-family: sans-serif;
  font-weight: 600;
}

.promo-especiales h2 {
  font-size: 28px;
  font-family: sans-serif;
  font-weight: 600;
  position: relative;
  right: 15px;
}

.texana-promo {

  height: 300px;
  width: 360px;
  border: solid rgb(255, 0, 0) 3px;
  margin-top: 15px;

}

.nuggets-promo {

  height: 300px;
  width: 360px;
  border: solid rgb(255, 0, 0) 3px;
  margin-top: 15px;
  position: relative;
  left: 30px;
}

@media (max-width:768px) {
  .promociones {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    text-align: center;
  }

  .nuggets-promo {

    height: 280px;
    width: 330px;

    margin-top: 10px;
    position: relative;
    left: 0px;
  }

  .texana-promo {

    height: 280px;
    width: 330px;

    margin-top: -15px;

  }

  .promo-especiales h2 {
    font-size: 24px;
    font-weight: 750;
    position: relative;
    right: 33px;
    margin-top: 40px;
  }

  .promo-burguers h2 {
    font-size: 24px;
    font-weight: 750;

    position: relative;
    right: 25px;
    top: -25px;
  }


}
/* promo-fin */



/* Sobre nosotros */

.header-sobrenosotros{
  height: 8vw;
  background-image: url(/assets/Multimedia/logotipo.jpg);
  background-size: cover;

  background-repeat: no-repeat;

  width: 100%;
  border: solid 3px black;
}

@media(max-width:520px) {

  .header-sobrenosotros {
    height: 9vw;
  }
}

.body-sobrenosotros {
  background-image: url(/assets/multimedia/Maderablanca.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

.sobrenosotros-volver i{
color: black;
font-size: 21px;
}
.sobrenosotros-volver p{
font-size: 22px;
}

.sobrenosotros-titulo{
display: flex;
flex-direction: column;

}
.sobrenosotros-titulo h1{
margin-left: 90px;
font-family: 'Oswald', sans-serif;
font-size: 45px;
}
.sobrenosotros-titulo h2{
  margin-left: 30px;
 font-size: 25px;
  font-family: sans-serif;
  font-weight: 600;
  color: chocolate;
  }
  .logo-cheepers{
display: flex;
margin-left: auto;
margin-right: 10px;
margin-top: -140px;
  height: 130px;
  width: 150px;
  }
  .cheepers-historia p{
  padding-left: 20px;
  font-size: 19px;
  padding-right: 20px;
font-family:  sans-serif;
font-weight: 550;
  letter-spacing: 1px;
margin-top: 15px;
line-height: 1.6;
text-align: justify;
}
.cheepers-nombre h2{
margin-left: 20px;
font-size: 28px;
color: chocolate;
}
/* sobrenosotros-fin */


/* contacto */
.header-contacto{
  height: 8vw;
  background-image: url(/assets/Multimedia/logotipo.jpg);
  background-size: cover;

  background-repeat: no-repeat;

  width: 100%;
  border: solid 3px black;
}
@media(max-width:520px) {

  .header-contacto {
    height:9vw;
  }
}

.body-contacto {
  background-image: url(/assets/multimedia/Maderablanca.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}


.contacto-volver i{
font-size: 21px;
color: black;
}
.contacto-volver p{
font-size: 22px;

}

.contacto-titulos h1{
  font-family: 'Oswald', sans-serif;
margin-left: 106px;
font-size: 45px;
}
.contacto-titulos h2{
font-size: 25px;
margin-left: 42px;
color: chocolate;
font-weight: 600;
font-family: sans-serif;
}

.contacto-parrafo{
margin-left: 15px;
margin-top: 28px;
font-size: 22px;
font-family: sans-serif;
font-weight: 550;
letter-spacing: 1.2px;
}
.contacto-medios{
margin-top: 40px;
margin-left: 15px;
font-family: sans-serif;
font-weight: 550;
color: chocolate;
font-size: 22px;
letter-spacing: 1px;
}
.gmail{
height: 25px;
width: 35px;
margin-left: 20px;
margin-top: 20px;
}
.gmail-p{
font-size: 17px;
display: inline;
font-family: sans-serif;
color: black;
position: relative;
top: 10px;
}
.instagram{
  height: 35px;
  width: 40px;
  display: block;
  margin-top: 20px;
  margin-left: 16px;
}
.instagram-p{
  font-size: 17px;
  display: inline;
  font-family: sans-serif;
  color: black;
  position: relative;
top: -35px;
margin-left: 60px;
  }
  .facebook{
    height: 35px;
    width: 40px;
    display: block;
    margin-top: -15px;
    margin-left: 16px

  }
  .facebook-p{
    font-size: 17px;
    display: inline;
    font-family: sans-serif;
    color: black;
    position: relative;
  top: -35px;
  margin-left: 60px;
    }

  
  
