@charset "UTF-8";
@font-face {
  font-family: "lemon_mocktail";
  src: url(../../fonts/Lemon\ Mocktail\ .ttf);
}
body {
  background-image: url(../multimedia/maderaclara.jpg);
  background-size: cover;
  margin: 0;
}

.navbar {
  background-color: rgb(0, 0, 0);
  border: rgb(236, 119, 36) solid 2px;
  font-family: "lemon_mocktail";
}
.navbar .nav-link {
  font-family: "Oswald", sans-serif;
  font-size: 19px;
  right: 10px;
}

@media (min-width: 990px) {
  .navbar-nav {
    position: relative;
    top: 12px;
    margin-left: 170px;
  }
}
@media (min-width: 349px) {
  .h1-navbar {
    position: relative;
    left: 39px;
    font-size: 40px;
  }
  .navbar-brand {
    font-size: 28px;
    position: relative;
    left: 10px;
    top: 5px;
  }
}
@media (max-width: 406px) {
  .navbar-brand {
    margin-right: 24px;
  }
}
@media (max-width: 355px) {
  .navbar-logo {
    display: flex;
    margin-left: 124px;
    margin-top: 20px;
  }
  .navbar-brand {
    margin-left: 45px;
  }
}
@media (max-width: 348px) {
  .h1-navbar {
    position: relative;
    font-size: 30px;
    left: 10px;
    top: 20px;
    display: flex;
    justify-content: center;
  }
  .navbar-logo {
    display: flex;
    margin-top: 20px;
  }
  .navbar-brand {
    font-size: 20px;
    position: relative;
    bottom: 15px;
    left: 30px;
  }
}
@media (max-width: 348px) and (max-width: 340px) {
  .navbar-brand {
    position: relative;
    left: 20px;
  }
}
.navbar-logo {
  width: 80px;
  height: 80px;
  position: relative;
  left: 5px;
  top: -3px;
}

/* Main inicio */
.img-fluid {
  border: black solid 3px;
  height: 415px;
}

@media (min-width: 870px) {
  .contenido-inicio {
    display: flex;
    justify-content: space-evenly;
  }
  .contenido-inicio .promocion-dia {
    text-align: center;
    position: relative;
    top: 25px;
    left: 5px;
  }
  .contenido-inicio .nueva-cheepers {
    text-align: center;
    position: relative;
    top: -1px;
    right: 5px;
  }
  .contenido-inicio .nueva-burguer {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: rgb(216, 196, 82);
    text-shadow: 2px 3px rgb(245, 12, 12);
    font-size: 35px;
    position: relative;
    top: 25px;
    left: 3px;
  }
  .contenido-inicio .promo-dia {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: rgb(216, 196, 82);
    text-shadow: 2px 3px rgb(245, 12, 12);
    font-size: 35px;
    position: relative;
    top: 25px;
    left: 3px;
    top: 0px;
    left: 0px;
  }
  .contenido-inicio iframe {
    max-width: 100%;
    border: solid 3px rgb(252, 0, 0);
    margin-top: 28px;
    width: 390px;
    height: 413px;
  }
}
@media (max-width: 870px) {
  .contenido-inicio {
    text-align: center;
    margin-top: 30px;
    flex-direction: column;
  }
  .nueva-cheepers {
    position: relative;
    top: -15px;
  }
  iframe {
    border: solid 3px rgb(252, 0, 0);
    width: 358px;
    height: 416px;
  }
  .img-fluid {
    width: 355px;
  }
  .promo-dia {
    font-family: sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: rgb(255, 215, 0);
    text-shadow: 3px 3px 2px red;
    font-weight: 800;
  }
  .nueva-burguer {
    font-family: sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: rgb(255, 215, 0);
    text-shadow: 3px 3px 2px red;
    font-weight: 800;
  }
}
@media (max-width: 359px) {
  .nueva-cheepers {
    position: relative;
    top: -15px;
  }
  iframe {
    border: solid 3px rgb(252, 0, 0);
    width: 315px;
    height: 416px;
  }
  .img-fluid {
    width: 315px;
  }
}
/* Sucursales */
@media (min-width: 870px) {
  .sucursales-img {
    display: flex;
    justify-content: space-evenly;
    margin-top: 25px;
  }
  .cheepers-corrientes-img {
    height: 420px;
    width: 380px;
    position: relative;
    right: -12px;
    border: black solid 3px;
  }
  .cheepers-sarmiento-img {
    height: 420px;
    width: 390px;
    position: relative;
    left: 6px;
    border: black solid 3px;
  }
  .sucursales-title {
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: rgb(216, 196, 82);
    text-shadow: 2px 3px rgb(245, 12, 12);
    font-size: 35px;
    position: relative;
    top: 25px;
    left: 3px;
    top: 0px;
    left: 0px;
    margin-top: 40px;
  }
}
@media (max-width: 870px) {
  .sucursales-img {
    flex-direction: column;
    margin-top: 25px;
  }
  .cheepers-sarmiento-img {
    height: 420px;
    width: 355px;
    border: black solid 3px;
    margin-top: 10px;
  }
  .cheepers-corrientes-img {
    height: 420px;
    width: 355px;
    border: black solid 3px;
  }
  .sucursales-title {
    font-family: sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: rgb(255, 215, 0);
    text-shadow: 3px 3px 2px red;
    font-weight: 800;
    margin-top: 50px;
    font-size: 35px;
  }
}
@media (max-width: 359px) {
  .cheepers-sarmiento-img {
    height: 420px;
    width: 315px;
    border: black solid 3px;
    margin-top: 10px;
  }
  .cheepers-corrientes-img {
    height: 420px;
    width: 315px;
    border: black solid 3px;
  }
  .cheepers-corrientes p {
    display: inline-flex;
    position: relative;
    left: -18px;
  }
  .cheepers-corrientes i {
    color: rgb(245, 12, 12);
    position: relative;
    left: -25px;
    font-size: 21px;
  }
  .whatsapp-sede {
    height: 28px;
    width: 28px;
    position: relative;
    top: -10px;
    left: -58px;
  }
  .cheepers-corrientes a {
    font-size: 20px;
    display: inline;
    position: relative;
    top: -8px;
    left: -52px;
  }
  .cheepers-sarmiento p {
    font-size: 20px;
    font-family: "Oswald", sans-serif;
    display: inline-flex;
    position: relative;
    left: -2px;
  }
  .cheepers-sarmiento i {
    color: rgb(245, 12, 12);
    position: relative;
    left: -6px;
    font-size: 21px;
  }
  .cheepers-sarmiento a {
    font-size: 20px;
    display: inline;
    position: relative;
    top: -8px;
    left: -60px;
  }
}
.cheepers-sede {
  margin-top: 5px;
  font-size: 32px;
  font-family: "Oswald", sans-serif;
}

.cheepers-peron {
  margin-top: 5px;
  font-size: 31px;
  font-family: "Oswald", sans-serif;
  position: relative;
  left: 0px;
}

.cheepers-sede span,
.cheepers-peron span {
  color: rgb(245, 12, 12);
}

.cheepers-corrientes p {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  display: inline-flex;
  position: relative;
  right: 95px;
}

.cheepers-corrientes i {
  color: red;
  position: relative;
  right: 98px;
  font-size: 21px;
}

.whatsapp-sede {
  height: 28px;
  width: 28px;
  position: relative;
  top: -10px;
  right: 129px;
}

.cheepers-corrientes a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  color: black;
  display: inline;
  position: relative;
  top: -8px;
  right: 130px;
}
.cheepers-corrientes a:hover {
  color: brown;
}

.cheepers-sarmiento p {
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  display: inline-flex;
  position: relative;
  right: 75px;
}

.cheepers-sarmiento i {
  color: rgb(245, 12, 12);
  position: relative;
  right: 78px;
  font-size: 21px;
}

.cheepers-sarmiento a {
  text-decoration: none;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
  color: black;
  display: inline;
  position: relative;
  top: -8px;
  right: 132px;
}
.cheepers-sarmiento a:hover {
  color: brown;
}

/* footer */
footer {
  background-color: rgb(202, 34, 34);
  margin-top: 45px;
  border: black solid 3px;
}

footer a {
  font-size: 18px;
  text-decoration: none;
}

.redes {
  height: 30px;
  position: relative;
  bottom: 12px;
}

/* footer-fin */
/* Catalogo */
/* variables */
.header-catalogo, .header-contacto, .header-sobrenosotros, .header-promos {
  background-image: url(../multimedia/logotipo.jpg);
  height: 9vw;
  width: 100%;
  border: black solid 3px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
@media (max-width: 480px) {
  .header-catalogo, .header-contacto, .header-sobrenosotros, .header-promos {
    height: 11vw;
  }
}

.body-catalogo, .body-contacto, .body-sobrenosotros, .body-promos {
  background-image: url(../multimedia/Maderablanca.jpg);
  background-color: rgb(116, 114, 114);
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

.catalogo h1 {
  font-family: "Oswald", sans-serif;
  font-size: 45px;
  padding-left: 119px;
  margin-top: 10px;
  letter-spacing: 2px;
}

.catalogo h2 {
  padding-left: 53px;
  margin-top: -7px;
}

.hamburguesas h2 {
  left: -18px;
  top: 15px;
}

.siguiente-pagina {
  display: flex;
  justify-content: end;
}

.ir-promo {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  margin-top: -46px;
  margin-right: 2px;
}

.ir-promo-logo {
  text-decoration: none;
  margin-top: -41px;
}

.catalogo i {
  font-size: 19px;
  color: black;
}

.catalogo-titulos {
  display: block;
  text-align: start;
  position: relative;
  left: 0;
  margin-top: -15px;
}

.catalogo-titulos h2 {
  font-size: 26px;
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(236, 171, 29);
  font-weight: 600;
  position: relative;
  right: 10px;
}

.catalogo-titulos h1 {
  font-size: 48px;
  font-family: "Oswald", sans-serif;
}

.hamburguesas {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 33px;
  display: flex;
  justify-content: center;
  position: relative;
  right: 22px;
  top: 30px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}

@media (max-width: 430px) {
  .catalogo-titulos h2 {
    font-size: 21px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    right: 15px;
  }
  .catalogo-titulos h1 {
    font-size: 36px;
    font-family: "Oswald", sans-serif;
    position: relative;
    right: 8px;
  }
  .burguers h2 {
    font-size: 25px;
  }
}
@media (max-width: 360px) {
  .catalogo-titulos h2 {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    right: 18px;
  }
  .catalogo-titulos h1 {
    font-size: 35px;
    font-family: "Oswald", sans-serif;
    position: relative;
    right: 19px;
  }
}
@media (max-width: 340px) {
  .catalogo-titulos h2 {
    right: 22px;
  }
  .catalogo-titulos h1 {
    right: 30px;
  }
}
@media (max-width: 768px) {
  .hamburguesas {
    position: relative;
    top: 85px;
    font-size: 29px;
    font-weight: 800;
  }
  .catalogo-titulos {
    display: block;
    text-align: center;
    margin-top: -20px;
  }
  .catalogo-titulos h1 {
    margin-right: 101px;
  }
  .catalogo-titulos h2 {
    margin-right: 20px;
  }
  .burguers {
    margin-top: -40px;
  }
  .texana-clasica {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -10px;
  }
  .barbacue-americana {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .bacon-cheddar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .texana {
    width: 330px;
  }
  .clasica {
    width: 330px;
  }
  .clasica-infos {
    margin-bottom: 10px;
  }
  .barbacue {
    height: 300px;
    width: 330px;
    border: solid 3px rgb(252, 0, 0);
  }
  .americana {
    height: 300px;
    width: 330px;
    border: solid 3px rgb(252, 0, 0);
  }
  .barbacue-infos a,
  .americana-infos a,
  .bacon-infos a,
  .cheddar-infos a,
  .clasica-infos a,
  .texana-infos a {
    position: relative;
    left: 65px;
    display: block;
    width: 200px;
    margin-top: 5px;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-size: 18px;
    color: black;
    font-weight: 650;
    border: solid black 3px;
    background-color: yellow;
    text-align: center;
  }
  .americana-infos {
    margin-top: 45px;
  }
  .bacon-cheep {
    height: 300px;
    width: 330px;
    border: solid 3px rgb(252, 0, 0);
  }
  .cheddar {
    height: 300px;
    width: 330px;
    border: solid 3px rgb(252, 0, 0);
  }
  .cheddar-infos {
    margin-top: 45px;
  }
  .texana {
    height: 300px;
    width: 330px;
    border: solid 3px rgb(252, 0, 0);
    margin-top: 70px;
  }
  .clasica {
    height: 300px;
    width: 330px;
    border: solid 3px rgb(252, 0, 0);
    margin-top: 21px;
  }
}
@media (min-width: 768px) {
  .burguers {
    margin-top: 30px;
  }
  .texana {
    height: 300px;
    width: 360px;
    border: solid 3px rgb(252, 0, 0);
    margin-top: 22px;
  }
  .clasica {
    height: 300px;
    width: 360px;
    border: solid 3px rgb(252, 0, 0);
    margin-top: 21px;
  }
  .texana-infos a {
    display: block;
    position: relative;
    left: 80px;
  }
  .clasica-infos a {
    display: block;
    position: relative;
    left: 80px;
  }
  .barbacue {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 360px;
    border: solid 3px rgb(252, 0, 0);
    margin-top: 22px;
  }
  .americana {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 360px;
    border: solid 3px rgb(252, 0, 0);
    margin-top: 22px;
  }
  .barbacue-infos a {
    display: block;
    position: relative;
    left: 80px;
  }
  .americana-infos a {
    display: block;
    position: relative;
    left: 80px;
  }
  .bacon-cheep {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 363px;
    border: solid 3px rgb(252, 0, 0);
    margin-top: 22px;
  }
  .cheddar {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 363px;
    border: solid 3px rgb(252, 0, 0);
    margin-top: 22px;
  }
  .barbacue-infos a {
    display: block;
    position: relative;
    left: 80px;
  }
  .bacon-infos a {
    display: block;
    position: relative;
    left: 80px;
  }
  .cheddar-infos a {
    display: block;
    position: relative;
    left: 80px;
  }
}
.texana-clasica {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
}

.barbacue-americana {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
}

.bacon-cheddar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 40px;
}

@media (min-width: 750px) {
  .barbacue-infos a,
  .americana-infos a,
  .bacon-infos a,
  .cheddar-infos a,
  .clasica-infos a,
  .texana-infos a {
    position: relative;
    left: 80px;
    display: block;
    width: 200px;
    margin-top: 5px;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    font-size: 18px;
    color: black;
    font-weight: 650;
    border: solid black 3px;
    background-color: yellow;
  }
}
@media (max-width: 1050px) {
  .pizzas h2 {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left: 80px;
  }
  .para-acompañar h2 {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: chocolate;
    margin-left: -12px;
  }
  .fugazzeta {
    height: 290px;
    width: 360px;
    border: solid 3px rgb(252, 0, 0);
  }
  .fugazzeta-precio {
    margin-left: 90px;
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-top: 5px;
    position: relative;
  }
  .papas {
    height: 290px;
    width: 360px;
    border: solid 3px rgb(252, 0, 0);
  }
  .papas-precio {
    margin-left: 35px;
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-top: 5px;
    position: relative;
  }
  .especial {
    height: 300px;
    width: 360px;
    border: solid 3px rgb(252, 0, 0);
  }
  .especial-precio {
    margin-left: 100px;
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-top: 5px;
    position: relative;
    color: rgb(247, 103, 8);
  }
  .muzza {
    height: 290px;
    width: 360px;
    border: solid 3px rgb(252, 0, 0);
  }
  .muzza-precio {
    margin-left: 105px;
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-top: 5px;
    position: relative;
  }
  .pizzas img {
    margin-left: 0px;
  }
  .papa-gratinada {
    height: 300px;
    width: 360px;
    border: solid 3px rgb(252, 0, 0);
  }
  .gratinada-precio {
    margin-left: 150px;
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-top: 5px;
    position: relative;
    color: chocolate;
  }
  .aros {
    height: 290px;
    width: 360px;
    border: solid 3px rgb(252, 0, 0);
  }
  .aros-precio {
    margin-left: 150px;
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-top: 5px;
    position: relative;
  }
  .pizzas-para-acompañar {
    display: flex;
    justify-content: space-around;
  }
  .wsp {
    margin-top: 30px;
    height: 35px;
    width: 35x;
    margin-left: 0px;
  }
  .contactos a {
    text-decoration: none;
    color: black;
  }
  .wsp-boton {
    position: relative;
    top: 16px;
    display: inline-flex;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
  }
  .pedidosya {
    display: block;
    margin-top: 10px;
    height: 30px;
    width: 30px;
    margin-left: 2px;
  }
  .pedidosya-boton {
    position: relative;
    left: 40px;
    top: -35px;
    display: inline;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: coral;
  }
  .facebook-catalogo {
    margin-top: 15px;
    height: 30px;
    width: 35px;
    margin-left: -87px;
  }
  .facebook-boton {
    position: relative;
    top: 10px;
    margin-left: 2px;
    display: inline;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(245, 12, 12);
  }
  .footer-catalogo {
    margin-top: 20px;
  }
}
@media (min-width: 1051px) {
  .pizzas h2 {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(0, 0, 0);
    position: relative;
    left: 170px;
  }
  .para-acompañar h2 {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: chocolate;
    position: relative;
    right: 20px;
  }
  .fugazzeta {
    height: 290px;
    width: 360px;
    margin-left: 50px;
    border: solid 3px rgb(252, 0, 0);
  }
  .papas {
    height: 290px;
    width: 360px;
    margin-right: 95px;
    border: solid 3px rgb(252, 0, 0);
  }
  .fugazzeta-precio {
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-top: 5px;
    position: relative;
    left: 195px;
  }
  .papas-precio {
    margin-left: 45px;
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-top: 5px;
    position: relative;
  }
  .especial {
    height: 300px;
    width: 360px;
    margin-left: 50px;
    border: solid 3px rgb(252, 0, 0);
  }
  .especial-precio {
    margin-left: 200px;
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-top: 5px;
    position: relative;
    color: rgb(247, 103, 8);
  }
  .muzza {
    height: 290px;
    width: 360px;
    margin-left: 50px;
    border: solid 3px rgb(252, 0, 0);
  }
  .muzza-precio {
    margin-left: 210px;
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-top: 5px;
    position: relative;
  }
  .pizzas img {
    margin-left: 100px;
  }
  .papa-gratinada {
    height: 300px;
    width: 360px;
    border: solid 3px rgb(252, 0, 0);
  }
  .gratinada-precio {
    margin-left: 150px;
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-top: 5px;
    position: relative;
    color: chocolate;
  }
  .aros {
    height: 290px;
    width: 360px;
    border: solid 3px rgb(252, 0, 0);
  }
  .aros-precio {
    margin-left: 150px;
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-top: 5px;
    position: relative;
  }
  .pizzas-para-acompañar {
    display: flex;
    justify-content: space-around;
  }
  .wsp {
    margin-top: 70px;
    height: 50px;
    width: 50px;
    margin-left: 10px;
  }
  .contactos a {
    text-decoration: none;
    color: black;
  }
  .wsp-boton {
    position: relative;
    top: 37px;
    display: inline-flex;
    font-size: 19px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
  }
  .pedidosya {
    display: block;
    margin-top: 10px;
    height: 35px;
    width: 40px;
    margin-left: 14px;
  }
  .pedidosya-boton {
    position: relative;
    left: 65px;
    top: -30px;
    display: inline;
    font-size: 19px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: coral;
  }
  .facebook-catalogo {
    display: block;
    margin-top: -10px;
    height: 40px;
    width: 40px;
    margin-left: 13px;
  }
  .facebook-boton {
    position: relative;
    left: 65px;
    top: -33px;
    display: inline;
    font-size: 19px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(240, 47, 47);
  }
  .footer-catalogo {
    margin-top: -5px;
  }
}
@media (max-width: 768px) {
  .pizzas-para-acompañar {
    display: block;
    text-align: center;
  }
  .pizzas h2 {
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    position: relative;
    right: 60px;
    font-size: 34px;
    margin-top: 50px;
  }
  .para-acompañar h2 {
    font-weight: 650;
    font-family: Arial, Helvetica, sans-serif;
    color: chocolate;
    margin-right: 40px;
    margin-top: 90px;
    font-size: 31px;
  }
  .fugazzeta {
    height: 290px;
    width: 330px;
    border: solid 3px rgb(252, 0, 0);
    margin-top: 10px;
  }
  .papas {
    height: 290px;
    width: 330px;
    margin-right: 95px;
    border: solid 3px rgb(252, 0, 0);
    margin-top: 10px;
  }
  .fugazzeta-precio {
    margin-left: 10px;
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-top: 5px;
    position: relative;
  }
  .papas-precio {
    margin-left: 3px;
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-top: 5px;
    position: relative;
  }
  .especial {
    height: 300px;
    width: 330px;
    border: solid 3px rgb(252, 0, 0);
  }
  .especial-precio {
    margin-left: 10px;
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-top: 5px;
    position: relative;
    color: rgb(247, 103, 8);
  }
  .muzza {
    height: 290px;
    width: 330px;
    border: solid 3px rgb(252, 0, 0);
  }
  .muzza-precio {
    margin-left: 15px;
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-top: 5px;
    position: relative;
  }
  .papa-gratinada {
    height: 300px;
    width: 330px;
    border: solid 3px rgb(252, 0, 0);
  }
  .gratinada-precio {
    margin-left: 10px;
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-top: 5px;
    position: relative;
    color: chocolate;
  }
  .aros {
    height: 290px;
    width: 330px;
    border: solid 3px rgb(252, 0, 0);
  }
  .aros-precio {
    margin-left: 10px;
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    margin-top: 5px;
  }
  .pizzas-para-acompañar {
    display: block;
    text-align: center;
  }
  .fugazzeta,
  .papas,
  .especial,
  .muzza,
  .papa-gratinada,
  .aros {
    margin: 0 auto;
    width: 330px;
    margin-top: 10px;
  }
  .pizzas img {
    display: block;
    margin: 0 auto;
  }
  .footer-catalogo {
    margin-top: 20px;
  }
}
.contactos a {
  text-decoration: none;
  color: black;
}

/* catalogo-fin */
/* promos */
.volver-inicio {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  margin-top: -31px;
  margin-left: 19px;
}

.ir-sobrenosotros {
  font-family: "Oswald", sans-serif;
  margin-top: -47px;
  margin-right: 2px;
}

.ir-sobrenosotros-logo {
  text-decoration: none;
  margin-top: -41px;
}

.promos i {
  color: black;
  font-size: 19px;
}

.promos p {
  font-size: 20px;
}

.volver-logo {
  position: relative;
  top: -3px;
}

.promos-titulos h1 {
  margin-left: 90px;
  font-family: "Oswald", sans-serif;
  font-size: 45px;
}

.promos-titulos h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  margin-left: 28px;
  font-weight: 600;
  color: chocolate;
}

.promociones h2 {
  padding-left: 71px;
  margin-top: -7px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 768px) {
  .promos-titulos {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    text-align: center;
  }
  .promos-titulos h1 {
    margin-left: 50px;
  }
}
@media (max-width: 450px) {
  .promos-titulos h2 {
    font-size: 20px;
    margin-left: 32px;
  }
  .promos-titulos h1 {
    font-size: 35px;
    margin-right: 14px;
  }
}
.promociones {
  display: flex;
  justify-content: space-around;
  margin-top: 85px;
}

.promo-burguers h2 {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  position: relative;
  right: 6px;
}

.promo-especiales h2 {
  font-size: 28px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  position: relative;
  right: 15px;
}

.texana-promo, .combo-socio, .combo-amigos, .big-pollo, .texana-promo2, .nuggets-promo, .combo-pizzeta, .kids-promo {
  height: 300px;
  width: 360px;
  border: solid 3px rgb(252, 0, 0);
  margin-top: 15px;
}
.texana-promo:hover, .combo-socio:hover, .combo-amigos:hover, .big-pollo:hover, .texana-promo2:hover, .nuggets-promo:hover, .combo-pizzeta:hover, .kids-promo:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out;
}

.nuggets-promo, .combo-pizzeta, .kids-promo {
  position: relative;
  left: 30px;
}

.texana-promo2 {
  display: block;
}

.kids-promo {
  display: block;
}

.big-pollo {
  display: block;
}

.combo-pizzeta {
  display: block;
}

.combo-amigos {
  display: block;
}

.combo-socio {
  position: relative;
  left: 30px;
}

@media (max-width: 768px) {
  .promociones {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    text-align: center;
  }
  .nuggets-promo, .kids-promo, .combo-pizzeta {
    height: 280px;
    width: 330px;
    position: relative;
    margin: 0 auto;
    left: 0px;
  }
  .texana-promo, .nuggets-promo, .texana-promo2, .kids-promo, .big-pollo, .combo-pizzeta, .combo-amigos, .combo-socio {
    height: 280px;
    width: 330px;
    position: relative;
    margin: 0 auto;
    top: -18px;
  }
  .texana-promo2 {
    height: 280px;
    width: 330px;
    position: relative;
    margin: 0 auto;
    top: 12px;
  }
  .big-pollo {
    height: 280px;
    width: 330px;
    position: relative;
    margin: 0 auto;
    top: 40px;
  }
  .combo-amigos {
    height: 280px;
    width: 330px;
    position: relative;
    margin: 0 auto;
    top: 70px;
    position: relative;
    left: 0px;
  }
  .combo-socio {
    height: 280px;
    width: 330px;
    position: relative;
    margin: 0 auto;
    top: 75px;
    left: 0px;
  }
  .combo-pizzeta {
    height: 280px;
    width: 330px;
    position: relative;
    margin: 0 auto;
    top: 45px;
    left: 0px;
  }
  .kids-promo {
    height: 280px;
    width: 330px;
    position: relative;
    margin: 0 auto;
    top: 12px;
    left: 0px;
  }
  .promo-especiales h2 {
    font-size: 24px;
    font-weight: 750;
    position: relative;
    right: 33px;
    bottom: 15px;
    margin-top: 150px;
  }
  .promo-burguers h2 {
    font-size: 24px;
    font-weight: 750;
    position: relative;
    right: 32px;
    top: -35px;
  }
  .contactos-promo span {
    position: relative;
    top: 100px;
  }
  .pedidosya-boton-promo {
    position: relative;
    left: 40px;
    top: -28px;
    display: inline;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: coral;
  }
  .footer-promo {
    margin-top: 110px;
  }
}
.contactos-promo a {
  text-decoration: none;
  color: black;
}

.contactos-promo p {
  font-size: 18px;
  margin-left: -2px;
}

@media (min-width: 769px) {
  .pedidosya-boton-promo {
    position: relative;
    left: 65px;
    top: -30px;
    display: inline;
    font-size: 16px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    color: coral;
  }
}
@media (min-width: 769px) and (max-width: 1050px) {
  .pedidosya-boton-promo {
    position: relative;
    left: 40px;
    top: -28px;
    font-size: 20px;
  }
}
@media (min-width: 769px) {
  .footer-promo {
    margin-top: 20px;
  }
}
/* promo-fin */
/* Sobre nosotros */
.sobrenosotros-volver i {
  color: black;
  font-size: 19px;
}

.sobrenosotros-volver p {
  font-size: 20px;
}

.ir-contacto {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  margin-top: -46px;
  margin-right: 2px;
}

.ir-contacto-logo {
  margin-top: -41px;
}

.sobrenosotros-titulo {
  display: flex;
  flex-direction: column;
}

.sobrenosotros-titulo h1 {
  margin-left: 90px;
  font-family: "Oswald", sans-serif;
  font-size: 45px;
}

.sobrenosotros-titulo h2 {
  margin-left: 30px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  color: chocolate;
}

.logo-cheepers {
  display: flex;
  margin-left: auto;
  margin-top: -125px;
  height: 140px;
  width: 150px;
}

.cheepers-historia p {
  padding-left: 20px;
  font-size: 19px;
  padding-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  letter-spacing: 1px;
  margin-top: 5px;
  line-height: 1.6;
  text-align: justify;
}

.cheepers-nombre h2 {
  margin-left: 20px;
  font-size: 28px;
  color: chocolate;
}

.contacto-sobrenosotros h2 {
  font-size: 22px;
  color: rgb(245, 12, 12);
  margin-left: 20px;
  margin-top: 48px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}

.contacto-sobrenosotros img {
  position: relative;
  top: -5px;
}

.contacto-sobrenosotros p {
  display: flex inline;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 19px;
  font-weight: 600;
  position: relative;
  top: 9px;
}

.footer-sobrenosotros {
  margin-top: 25px;
}

@media (max-width: 999px) {
  .contacto-sobrenosotros img {
    position: relative;
    right: 2px;
  }
}
@media (max-width: 769px) {
  .cheepers-historia p {
    font-size: 17px;
  }
  .logo-cheepers {
    height: 100px;
    width: 100px;
    position: relative;
    top: 5px;
  }
  .contacto-sobrenosotros img {
    position: relative;
    left: -1px;
  }
}
@media (max-width: 590px) {
  .cheepers-historia p {
    font-size: 15px;
    text-align: justify;
    letter-spacing: 0.1px;
    margin-top: -10px;
  }
  .logo-cheepers {
    display: none;
  }
  .sobrenosotros-titulo h1 {
    text-align: center;
    font-size: 25px;
    margin-right: 85px;
  }
  .sobrenosotros-titulo h2 {
    margin-left: 30px;
    font-size: 19px;
    text-align: center;
    margin-right: 29px;
  }
  .cheepers-nombre h2 {
    margin-left: 18px;
    font-size: 22px;
    position: relative;
    top: -10px;
    margin-top: 30px;
  }
  .contacto-sobrenosotros h2 {
    font-size: 17px;
    margin-right: 22px;
    margin-top: 25px;
  }
  .contacto-sobrenosotros h2 .contacto-sobrenosotros img {
    width: 30px;
    height: 20px;
    position: relative;
    top: -10px;
  }
  .contacto-sobrenosotros p {
    font-size: 15px;
    position: relative;
    top: 4px;
  }
  .contacto-sobrenosotros img {
    position: relative;
    left: -2px;
    top: -7px;
    width: 30px;
    height: 25px;
  }
}
/* sobrenosotros-fin */
/* contacto */
.contacto-volver i {
  color: black;
  font-size: 20px;
}

.contacto-volver p {
  font-size: 20px;
}

.volver-logo {
  position: relative;
  top: -1px;
}

.ir-inicio {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  margin-top: -46px;
  margin-right: 2px;
}

.ir-inicio-logo {
  margin-top: -41px;
}

.contacto-titulos h1 {
  font-family: "Oswald", sans-serif;
  margin-left: 106px;
  font-size: 45px;
}

.contacto-titulos h2 {
  font-size: 25px;
  margin-left: 42px;
  color: chocolate;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.contacto-parrafo, .contacto-medios {
  margin-left: 15px;
  margin-top: 28px;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 550;
  letter-spacing: 1.2px;
}

.contacto-medios {
  margin-top: 40px;
  color: chocolate;
  letter-spacing: 1px;
}

.contacto-medios a {
  text-decoration: none;
  color: black;
}

.gmail {
  height: 25px;
  width: 35px;
  margin-left: 20px;
  margin-top: 20px;
}

.gmail-p {
  font-size: 17px;
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  position: relative;
  top: 10px;
}

.instagram {
  height: 35px;
  width: 40px;
  display: block;
  margin-top: 20px;
  margin-left: 16px;
}

.instagram-p {
  font-size: 17px;
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  position: relative;
  top: -35px;
  margin-left: 60px;
}

.facebook {
  height: 35px;
  width: 40px;
  display: block;
  margin-top: -15px;
  margin-left: 16px;
}

.facebook-p {
  font-size: 17px;
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  position: relative;
  top: -35px;
  margin-left: 60px;
}

.formularios {
  position: relative;
  top: -225px;
  display: flex;
  margin-left: 70%;
  padding: 15px;
  border-radius: 4px;
  max-width: 350px;
  background-color: rgb(219, 219, 219);
  border: solid black 1px;
  margin-top: -100px;
}
.formularios .form-group label {
  display: block;
  font-size: 21px;
  margin-bottom: 5px;
  font-family: "Oswald", sans-serif;
}
.formularios .form-group input {
  width: 100%;
  padding: 8px;
  border: rgb(236, 119, 36) solid 2px;
  border-radius: 4px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.formularios input[type=submit] {
  display: block;
  padding: 8px 12px;
  margin-top: 10px;
  background-color: rgb(245, 12, 12);
  color: white;
  border: solid black 1px;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
}
.formularios .mensaje {
  display: block;
  border: rgb(236, 119, 36) solid 2px;
}
.formularios textarea {
  font-size: 17px;
  width: 320px;
  font-family: Arial, Helvetica, sans-serif;
}

@media (min-width: 1200px) {
  .mensaje {
    max-height: 120px;
  }
  .footer-contacto {
    margin-top: -130px;
  }
}
@media (max-width: 1030px) {
  .formularios {
    max-height: 320px;
  }
  .mensaje {
    height: 50px;
  }
}
@media (max-width: 1200px) {
  .formularios {
    position: relative;
    right: 40px;
    max-width: 320px;
  }
  .formularios .form-group input {
    width: 100%;
    max-width: 280px;
  }
  .formularios textarea {
    width: 280px;
  }
  .footer-contacto {
    margin-top: -120px;
  }
}
@media (max-width: 1000px) {
  .contacto-titulos h1 {
    font-family: "Oswald", sans-serif;
    text-align: center;
    margin-right: 80px;
  }
  .contacto-titulos h2 {
    text-align: center;
    margin-right: 15px;
  }
  .contacto-parrafo, .contacto-medios {
    text-align: center;
    letter-spacing: 1.5px;
  }
  .contacto-medios a {
    text-decoration: none;
    color: black;
  }
  .flexbox {
    display: block;
    justify-content: space-around;
  }
  .contacto-medios {
    margin-top: 20px;
    color: chocolate;
    letter-spacing: 2px;
  }
  .footer-contacto {
    margin-top: -20px;
  }
  .instagram {
    margin: 0 auto;
    position: relative;
    right: 230px;
    top: 25px;
  }
  .instagram-p {
    position: relative;
    top: -10px;
    right: 180px;
  }
  .facebook {
    margin: 0 auto;
    position: relative;
    right: 232px;
    top: 15px;
  }
  .facebook-p {
    position: relative;
    top: -20px;
    right: 183px;
  }
  .gmail {
    position: relative;
    right: 115px;
  }
  .gmail-p {
    right: 112px;
  }
  .formularios {
    position: relative;
    top: -90px;
    right: 95px;
    background-color: rgba(162, 162, 165, 0);
    border: none;
  }
  .formularios .form-group label {
    display: block;
    font-size: 18px;
    max-width: 210px;
    height: 70px;
  }
  .formularios .form-group input {
    width: 100%;
  }
  .formularios input[type=submit] {
    margin-top: 25px;
    font-size: 13px;
  }
  .formularios textarea {
    font-size: 17px;
    width: 210px;
    height: 65px;
    font-family: Arial, Helvetica, sans-serif;
  }
}
@media (max-width: 650px) {
  .contacto-titulos h1 {
    font-size: 40px;
    margin-left: 85px;
  }
  .contacto-titulos h2 {
    margin-right: 41px;
    font-size: 22px;
  }
  .contacto-parrafo, .contacto-medios {
    font-size: 19px;
    margin-right: 16px;
    text-align: center;
    letter-spacing: 1.5px;
  }
  .instagram {
    position: relative;
    right: 150px;
    top: 22px;
  }
  .instagram-p {
    position: relative;
    top: -12;
    right: 116px;
    font-size: 14px;
  }
  .facebook {
    position: relative;
    right: 151px;
    top: 10px;
  }
  .facebook-p {
    position: relative;
    top: -23px;
    right: 118px;
    font-size: 14px;
  }
  .gmail {
    position: relative;
    left: -62px;
    top: 3px;
  }
  .gmail-p {
    right: 62px;
    font-size: 14px;
    top: 14px;
  }
  .formularios {
    position: relative;
    top: 95px;
    justify-content: center;
    right: 175px;
    height: 150px;
  }
  .formularios .form-group label {
    max-width: 180px;
    height: 70px;
  }
  .formularios .form-group input {
    width: 100%;
  }
  .formularios input[type=submit] {
    font-size: 13px;
  }
  .formularios textarea {
    font-size: 17px;
    width: 180px;
    height: 65px;
  }
  .footer-contacto {
    margin-top: 290px;
  }
}
@media (max-width: 336px) {
  .contacto-titulos h1 {
    position: relative;
    right: 8px;
  }
  .contacto-parrafo, .contacto-medios {
    margin-left: 10px;
    text-align: center;
  }
  .instagram {
    right: 130px;
  }
  .instagram-p {
    right: 96px;
  }
  .facebook {
    position: relative;
    right: 131px;
    top: 10px;
  }
  .facebook-p {
    right: 97px;
  }
  .gmail {
    left: -40px;
  }
  .gmail-p {
    right: 41px;
    font-size: 14px;
    top: 14px;
  }
}

/*# sourceMappingURL=style.css.map */
